{% extends 'accueil.html.twig' %}


 {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
{% endblock %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	
	<main>
		<article class="welcome-article">
			<div>
				<h1>Bienvenue sur notre site !</h1>
				<p>Ce site est un exemple de page d'accueil utilisant Twig et Symfony.</p>
				<p>Vous pouvez naviguer vers les pages d'inscription et de connexion en utilisant le menu ci-dessus.</p>
				<p>Pour plus d'informations, consultez la
					<a href="https://symfony.com/doc/current/index.html">documentation Symfony</a>.</p>
			</div>
			<div class="img-article">
				<img src="{{ asset('images/welcome-image.jpg') }}" alt="Image de bienvenue"/>
			</div>

		</article>
	</main>

{% endblock %}
